body {
    font-family: 'Roboto', sans-serif;
    color: black;
    background-color: #fff;
    font-style: normal;
    font-size:
}

ul {
list-style-type: none;
}

a {
    text-decoration: none;
}
 /* ----------------HEADER--------------------- */
.logo {
    font-family: 'Raleway', sans-serif;
        font-weight: 700;
        font-size: 18px;
        line-height: 1.17;
        letter-spacing: 0.03em;
        text-transform: uppercase;
        color: #2E2F42; 
}

.acent {
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
}

.nav-link {
        font-weight: 500;
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #2E2F42;
}

.contacts{
        font-style: normal;
}

.contacts-link{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
}

.nav-link:hover,
.nav-link:focus,
.contacts-link:hover,
.contacts-link:focus {
    color: #404BBF;
}

 /* ----------------BEGINNIN--------------------- */

.beginning {
    background-color: #2E2F42;
}


.beginning-title {
font-size: 56px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #FFFFFF;
}


.beginning-btn {
font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #FFFFFF;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    cursor: pointer;
}

 /* ----------------Features--------------------- */

.features-title {
        font-weight: 500;
        font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.features-text {
        font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

  /* ----------------Team--------------------- */

.team {
    background-color: #f4f4fd;
}

.team-name{
    font-size: 36px;
    line-height: 1.1;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2e2f42;
}

.team-item{
box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
    background: #fff;
}

.team-title {
    font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.team-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        text-align: center;
        color: #434455;
}

  /* ----------------Portfolio--------------------- */

.portfolio-name {
    font-size: 36px;
        line-height: 1.1;
        letter-spacing: 0.02em;
        text-align: center;
        color: #2e2f42;
}

.portfolio-title {
    font-size: 20px;
        line-height: 1.2;
        letter-spacing: 0.02em;
        color: #2e2f42;
}

.portfolio-text {
    font-size: 16px;
        line-height: 1.5;
        letter-spacing: 0.02em;
        color: #434455;
}

        /* ----------------Footer--------------------- */

.footer {
background-color: #2E2F42;
}

.footer-logo{
font-size: 18px;
    line-height: 1.2;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #f4f4fd;
}

.footer-text {
font-size: 16px;
line-height: 1.5;
letter-spacing: 0.02em;
color: #f4f4fd;
}